<div class="form-group row">
    <label class="col-form-label col-sm-2" style="margin-left: 2ch;" for="domaine">Domaine</label>
    <div class="col-sm-7">
        <select name="domaine" class="custom-select" name="domainelist">
            <option value="">--Veuillez selectionner un domaine--</option>
            <option value="WebApp">WebApp</option>
            <option value="Serveur">Serveur</option>
            <option value="JavaScript">JavaScript</option>
        </select> </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" style="margin-left: 2ch;" for="question">Question</label>
    <div class="col-sm-7">
        <input class="form-control" name="question" />
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" style="margin-left: 2ch;" for="reponse">Reponse</label>
    <div class="col-sm-7">
        <textarea class="form-control" cols="18" name="reponse" maxlength="32000" rows="7"></textarea>
    </div>
</div>