<h3 class="display-4">Ajouter une question/reponse</h3>
<br/>
<form action="/create" method="post">
    <div class="form-horizontal">

        <%- include("_editor") -%>

            <div class="form-group row">
                <label class="col-form-label col-sm-2"></label>
                <div class="col-sm-7">
                    <input type="submit" value="Save" class="btn btn-default btn-success" />
                </div>
            </div>
    </div>
</form>