<%- include("_header") -%>

    <h1 style="text-align:center">Bienvenue dans mon site FAQ Node.js</h1>
    <%- include("signup") -%>
        <p style="text-align:center">- Ou connectez-vous si vous avez déjà un compte -</p>
        <div style="text-align: center;">
            <a type="button" href="signin" class="btn btn-default btn-outline-dark">Sign in</a>
        </div>