<h1 class="display-4" style="text-align: center;">Inscrivez-vous !</h1>
<br/>
<form action="/signup" method="post">
    <div class="form-horizontal">

        <div class="form-group row">
            <label class="col-form-label col-sm-3" style="margin-left: 5ch;" for="email">Email</label>
            <div class="col-sm-5">
                <input class="form-control" name="email" type="email" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3" style="margin-left: 5ch;" for="usename">Username</label>
            <div class="col-sm-5">
                <input class="form-control" name="username" type="text" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3" style="margin-left: 5ch;" for="passord">Password</label>
            <div class="col-sm-5">
                <input class="form-control" name="password" type="password" />
            </div>
        </div>
        <div class="form-group row">
            <input type="submit" value="Sign up" class="btn btn-default btn-link" style="margin-left: auto;margin-right: auto;" />
        </div>
    </div>
</form>